<!DOCTYPE html>
<html>
<head>
	<title>Apptegration</title>
	<link rel="stylesheet" type="text/css" href="About.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="post">
		<h1>Apptegration</h1>
	<h2 class="quote" style= "capitalize">
		project Details
    </h2>
    <p>
    This website is a part of our Institute technical summer project in which we aim to solve integrals from pictures taken by you. 
    </p>
    <p>
     Try it out now. We would love to hear your feedback. please contact on any of the below emails.
    </p>
    </div>
    <hr>
    <div >
		<h2 class="quote">Team members</h2>
	<p class="name">
        Aaron jerry Ninan
        <div class="itals">aaronjerry12@gmail.com</div>
	</p>
    <p class="name">
        A. Vikram
        <div class="itals">vikram.atreya@gmail.com</div>
    </p>
    <p class="name">
        Thomas jacob
        <div class="itals">tjacob7911@gmail.com</div>
    </p>
    <p class="name">
        P.Preetham
        <div class="itals">preethampoluparthi@gmail.com</div>
    </p>
    </div>
</body>
</html>
