<!DOCTYPE html>
<html>
<head>
	<title>Apptegration</title>
	<link rel="stylesheet" type="text/css" href="About.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="post">
		<h1>Apptegration</h1>
	<p class="quote">
		some quote
	</p>
    <p>
    Introduction
    </p>
    <p>
     extension
    </p>
    </div>
    <hr>
    <div class="post">
		<h2>Subtopic</h2>
	<p class="quote">
		some quote
	</p>
    <p>
    	about subtopic
    </p>
    <p>
    	extension
    </p>
    </div>
</body>
</html>
