<!DOCTYPE html>
<html>
<head>
	<title>Integral Calculator</title>
	<link rel="stylesheet" type="text/css" href="Apptegration.css">
	<script src="https://kit.fontawesome.com/38513845f5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="Apptegration.html" class="navbar-brand">Apptegration</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav">
					<li><a href="About.html">About</a></li>
				</ul>
		    </div>
		</div>
	</nav>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<h1 class="one">Upload your math file !!!</h1>
				</div>
			</div>
		</div>
	</header>
	<div class="box">
			<row style="text-align:center"><form id = "limit">
				<label for="Upper limit">Upper limit:</label>
				<input type="number" step="0.001" id="quantity" name="quantity">
			  </form>
			</row>
			<row style="text-align:center">
			  <form id = "limit">
				<label for="Lower limit">Lower limit:</label>
				<input type="number" step="0.001" id="quantity" name="quantity">
			  </form>
			</row>
		<form action="uploader.html" method="POST" enctype="multipart/form-data" align="center" class="two">
		<row>
		<input type="file" name="file" id="four">
		</row>
		<button class="btn btn-primary btn-lg" id="three">Submit!</button>
		</form>
	</div>
</body>
</html>
