<!DOCTYPE html>
<html>
<head>
	<title>Integral Calculator</title>
	<link rel="stylesheet" type="text/css" href="Apptegration.css">
	<script src="https://kit.fontawesome.com/38513845f5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<h1 class="one">Here is your answer !</h1>
				</div>
			</div>
		</div>
	</header>
	<div class="box" >
		<p id = centered>Indefinite integral:
		<img id = "latex_img" src="http://latex.codecogs.com/svg.latex?\int_{0}^{1} x^2 dx"  />
		<BR CLEAR="left"/>
		</p>
		<h3 align = "center" class="two">Answer:3</h3>
	</div>
</body>
</html>
